---
import FAQ_PAGE from "../components/FAQ_PAGE.jsx";
---
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/fav.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>FAQ Search</title>
  </head>
  <body>
    <FAQ_PAGE client:load />
  </body>
</html>
